<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #242582;

    }
    .back{
        background-color: rgba(0, 0, 0, 0.13);

        height: 7cm;
        width: 12cm;
        border-radius: 8px;
    }
    h1{
        text-align: center;
        align-items: center;
        position: relative;
        color: white;
        top: 30px;
    }
    a{
        position: relative;
        text-decoration: none;
        background-color: rgb(15, 129, 129);
        color: white;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 20px;
        
        padding-bottom: 10px;
        padding-top: 10px;
        top: 40px;
        left: 40%;
    }
</style>
<body>
    <div class="back">
        <h1>Wrong Password!</h1>
        <a href="/">Go Back</a>



    </div>

    
</body>
</html>